<p style="color: green"><%= notice %></p>
<h1>Articles Listing Page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
      <th>Show</th>
      <th>New</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>  Action n</td>
        <td><%= link_to " Show this article", article %></td>
        <td><%= link_to "  New article", new_article_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
